@mixin Medium {
    @media screen and (max-width:900px) {
        @content;
    }
}

.carListContainer {
    display: flex;
    flex-direction: column;
}

.brandCars {
    max-width: 1200px;
    display: flex;
    flex-direction: column;

    .brandTitle {
        font-family: 'Poppins', sans-serif;
        padding: 15px 25px;
        border-bottom: 1px solid black;
        font-weight: 700;
        font-size: 20px;
        color: #2C2C61;
        margin: 0;

        @include Medium {
            padding: 15px 10px;
        }

    }
}