@mixin Medium {
    @media screen and (max-width:900px) {
        @content;
    }
}

.homeContainer {
    font-family: 'Poppins', sans-serif;
    background-color: #D9D9E4;
    padding: 40px 40px;
    min-height: calc(100vh - 150px);

    @include Medium {
        padding: 20px 10px;
    }

    .homeContent {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;

        h1 {
            padding: 20px 0;
            text-align: center;
            font-weight: 600;
            font-size: 48px;
            color: #000040;

            @include Medium {
                font-size: 36px;
            }

        }

        .filtersContainer {
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            .searchFilter {
                display: flex;
                align-items: center;
                padding: 8px 14px;
                border-radius: 5px;
                background-color: #ffff;

                label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                input {
                    outline: none;
                    border-radius: 2px;
                    border: none;
                    width: 250px;
                    background-color: inherit;
                }
            }


            .filterButtons {
                display: flex;
                flex-wrap: wrap;

                gap: 8px;

                button:not(.clearFilter) {
                    font-family: 'Poppins', sans-serif;
                    cursor: pointer;
                    border: none;
                    padding: 8px 14px;
                    border-radius: 8px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    &.clearFilter {
                        background-color: inherit;
                        border-radius: none;
                    }

                    &:active {
                        transform: translateY(2px)
                    }

                    &.active {
                        background-color: rgba(#000040, 0.8);
                        color: #ffff;
                    }
                }

                .clearFilter {
                    background-color: inherit;
                    border: none;
                    cursor: pointer;
                }
            }

        }
    }

}



.advertise {
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    height: 100px;
    width: 100px;
    right: 50px;
    padding: 10px 15px;
    border-radius: 100%;
    background-color: #000040;
    color: #FDCF43;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-color: #D9D9E4;

    &:hover {
        transform: scale(1.2);
    }

    @include Medium {
        right: 15px
    }

}

.toast {
    list-style-type: none;
    padding: 10px 10px;
    width: 300px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    color: white;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    z-index: 1000;
    text-align: center;
    border-radius: 10px;
}