.carCard {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 25px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 8px;
    flex-direction: column;
    background-color: rgba(#ffff, 0.88);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    height: 250px;
    gap: 30px;
    overflow: hidden;

    .carTitle {
        text-align: center;
        padding: 25px 0 10px;
        background-color: #FDCF43;

        h3 {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 3px;
        }

        h4 {
            font-weight: 700;
            font-size: 14px;
        }
    }

    .carSpecs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 25px;
        gap: 15px;
        margin: 0 auto;

        .spec {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-right: 10px;

            p {
                font-size: 14px;
            }
        }
    }

    .carPrice {
        display: flex;

        p {
            margin: auto;
            font-size: 18px;
            font-weight: 600;
        }
    }

}